html {
    height: 100%;
}
body {
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.fixed-header img{
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    border-radius: 50%;
}

.fixed-header{
    width: 100%;
    position: fixed;
    background-image: url("../images/cover1.jpg");

}
/* .sidebar ul{

} */
.sidebar{
    display: flex;
    padding-top: 15%;
    width: 100%;

}
.leftBar {
    width: 20%;
    padding: 10px;
    margin: 10px;
}
.leftBar ul li{
    margin: 1% 0% 1% 5%;
}
.leftBar ul li a{
    display: block; padding: 2% 2% 2%; text-decoration: none; color: #01002a;
    background: linear-gradient(45deg, lightblue, lightgreen);
}
.leftBar ul li a:hover{
    background: linear-gradient(45deg, lightgreen, lightblue);
}

rightBar{
    width: 80%; padding: 10px;margin: 10px;
}
.rightBar .welcome .welcome-title{
    padding: 10%;
}
.rightBar .welcome .welcome-content{
    padding: 10%; line-height: 32px;
}

h2 { font-family: "Times New Roman"; color:white;  }
h3 { font-family: "Times New Roman"; color:blue; }
p{
    color:brown;
    font-family:"Times New Roman";
    text-align: left;
}
.fixed-header{
    width: 100%;
    top: 0;
}
.fixed-footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: grey;
}
