html {
    height: 100%;
}
body {
    text-align: center;
    background-image:url("../images/background.png");
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
.headerDiv{
    position:relative;
    background:url("../images/bannerbg.png") repeat-x;
    height: 50px;
}
.footerDiv{
    grid-area: footer;
    background: #A2B964;
    text-align: center;
}
h1{
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #999999;
}
.mainDiv{
    display: grid;
    width: 800px;
    margin: auto;
    border: 4px gray solid;
    border-radius: 20px;
    overflow: hidden;
    grid-template-columns: 550px auto;
    grid-template-rows: auto auto;
    grid-template-areas:'left right'
        'footer footer';
}
.leftBar{
    position: absolute;
    width: 550px;
    float: left;
    padding: 0px;
    margin: 0px;
    grid-area: left;
}
.rightBar{
    width: 250px;
    float: right;
    padding: 0px;
    margin: 0px;
    grid-area: right;
    background:#A2B964;

}
.leftTop{
    background-image: url("../images/bannerbg.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
}
.leftTop img{
    /*width: 550px;*/
    height: 83px;
    float: left;
    margin-right: 5px;

}
.leftTop p{
color: red;

}
.review-block{
    width: 250px; float: left;
}
.review-blockRight{
    width: 250px; float: left;
}
.review-block p img{
    float: left; margin-right: 5px;
}
.review-blockRight p img{
    float: right; margin-right: 5px;
}
.leftContainerfisrtrow{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}

.leftContainersecondrow{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerthirdrow{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerforthrow{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerfiftherow{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerfirstrowRight{
    border: gray solid;
    border-radius:10px;
    padding: 5px;
    margin: 5px;
}
.leftContainersecondrowRight{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerthirdrowRight{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerforthrowRight{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.leftContainerfifthrowRight{
    border: gray solid;
    border-radius:10px;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.rightBar dl{
    padding: 10pt;
    margin: 0;
}
.rightBar dt{
    font-weight: bold;
    margin-top: 10pt;
}
.rightBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}