html {
    height: 100%;
}
body {

    background-image: url("../images/silverware.jpg");
}
h2 {
    color: mediumslateblue;
    text-align: center;
}
h3 {
color: mediumslateblue;
}
p{
    color:black;
}
ol{
    color: black;
}
ul{
    color: black;
}
blockquote {
    background-color: #FFFFA8;
    font-style: italic;
}
.split6{
color: #A2B964;
}