html {
    height: 100%;
}
body {
    background-color: rgb(250, 0, 80);
}
h2 {
    color: mediumslateblue;
    text-align: center;
}
h3 {
color: mediumslateblue;
}
p{
    color:white;
}
ol{
    color: white;
}
ul{
    color: white;
}